# Instructs setup.py which package data should be include in the installation
recursive-include projects/static *
recursive-include projects/templates *
recursive-include nbi_base/static *
recursive-include nbi_base/templates *