wheel==0.30.*
Flask>=0.12.3
Jinja2==2.10
requests==2.20.*
Werkzeug==0.14.*
wtforms==2.1.*
pytest==3.2.3
Flask-WTF==0.14.*
Flask-Bootstrap==3.3.*
Flask-Login==0.4.*
Flask-Mail==0.9.*
flask-nav==0.6.*
bcrypt==3.1.*